@tailwind base;
@tailwind components;
@tailwind utilities;
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Anta", sans-serif;
}
::selection{
  color: rgba(255, 166, 0, 0.815);
}